<div style="background-color:  #f2f2f2;">
  <p>SpaceX Launch Programs</p>
  <div class="row">
    <div class="col-sm-3">
      <p><b>Filter</b></p>
      <div >
        <p>Launch year</p>
        <p>
          <span class="badge badge-pill badge-success" style="width: 50%;cursor: pointer;" *ngFor="let launch of totalSpaceXLaunches" >{{launch.launch_year}}</span>
          
        </p>
      </div>
     <div>
       <p>Successfull Launch</p>
       <p>
        <span class="badge badge-pill badge-success" style="width: 50%;cursor: pointer;" (click)="filterlaunchSuccess('true')">True</span>
        <span class="badge badge-pill badge-success" style="width: 50%;cursor: pointer;" (click)="filterlaunchSuccess('false')">False</span>
       </p>
     </div>
     <div>
       <p>Successfull Lending</p>
       <p>
        <span class="badge badge-pill badge-success" style="width: 50%;cursor: pointer;">True</span>
        <span class="badge badge-pill badge-success" style="width: 50%;cursor: pointer;">False</span>
       </p>
     </div>
    </div>
    <div class="col-sm-9">
      <div class="card" style="width: 25%;float: left;" *ngFor="let launch of totalSpaceXLaunches">
        <img [src]="launch.links.mission_patch" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">{{launch.rocket.rocket_name}}</p>
          <p><b>MissionId:</b></p>
          <p><b>LaunchYear:</b>{{launch.launch_year}}</p>
          <p><b>Successfull Launch:</b>{{launch.launch_success}}</p>
          <p><b>Successfull Landing:</b></p>

        </div>
      </div>
      
     
    </div>
  </div>
</div>